<div id="pictures" class="full-height">
    <div id="loadscreen" class="load-screen {{loadScreenClass}}"></div>
    <carousel interval="-1" class="img-carousel">
      <slide class="slide" ng-repeat="image in images" active="image.active">
        <!--<i class="glyphicon glyphicon-info-sign" style="top: 20px;" ng-mouseover="isInfoHidden=false" ng-mouseleave="isInfoHidden=true"></i>-->
        <span style="top: 20px;" ng-mouseover="isInfoHidden=false" ng-mouseleave="isInfoHidden=true">This Work</span>
        <div class="infobox" ng-hide="isInfoHidden">
            <span class="title">{{image.name}}</span><br/>
            <span class="subtitle">{{(image.subtitle == undefined ? "" : image.subtitle)}}</span><br/><br/>
            <span class="medium">{{image.medium}}</span>
            <span class="dimensions">{{image.dimensions}}</span><br/>
        </div>
        <img ng-src="{{image.image}}" style="margin:auto; height: 90%;" img-load="imageLoaded()"/>
      </slide>
    </carousel>
</div>