.full-height {
    height: 100%;
}

html {
    overflow: hidden;
}

.infobox {
    position: absolute;
    top: 20px;
    left: 60px;
    z-index: 10;
    font-family: tahoma, sans-serif;
    background-color: white;
}

.infobox > .title {
    font-weight: bold;
    font-size: large;
}

.infobox > .medium, .dimensions {
    font-size: small;
    font-weight: lighter;
}

.infobox > .subtitle {
    font-style: italic;
}

.slide > i {
    font-size: 20pt;
    position: absolute;
    left: 20px;
    z-index: 10;
    color: gray;
    cursor: pointer;
}

.slide > i:hover {
    color: black;
}

.navicon {
    font-size: 20pt;
    position: absolute;
    left: 20px;
    z-index: 10;
    color: gray;
    cursor: pointer;
}

.navicon:hover {
    color: black;
}

.navicon-highlight {
    color: black;
}

.aboutbox {
    position: absolute;
    z-index: 9;
    left: 20px;
    top: 100px;
    font-family: sans-serif;
    padding-left: 40px;
}

.aboutbox > .about-name {
    font-weight: bold;
    font-size: 20pt;
}

.aboutbox > .about-footer {
    color: grey;
}

.aboutbox > .about-footer > a {
    color: grey;
    text-decoration: underline;
}

.nodisplay {
    display: none;
}

.img-carousel {
    background-color: white;
    height: 100%;
}

.carousel-control:hover {
    cursor: pointer;
}

.carousel-inner {
    height: 100%;
}

.carousel-inner > .item {
    height: 100%;
}

.load-screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 10000;
    background-image: url("/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.hide {
    display: none;
}