.full-height {
    height: 100%;
}

.img-carousel {
    background-color: white;
    height: 100%;
}

.carousel-control:hover {
    cursor: pointer;
}

.carousel-inner {
    height: 100%;
}

.carousel-inner > .item {
    height: 100%;
}